// This is just to center the spinner


.contentLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99999;
    // width: 100%;
    background: rgba(0,0,0,0.5);
    height: 100%;

    
    // align-items: center;
    // justify-content: center;
    // position: fixed;
    // z-index: 99999;
    padding: 0;
    margin: 0;
    // height: auto;
    min-width: 100% !important;
    top: 0;
    left: 0;
    min-height: 100% !important;
}

// Here is where the magic happens

$offset: 187;
$duration: 1.4s;

.spinner {
    animation: rotator $duration linear infinite;
}

@keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}

.path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
        dash $duration ease-in-out infinite, 
        colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
    0% { stroke: #efb810; }
    25% { stroke: #efb810; }
    50% { stroke: #efb810; }
    75% { stroke: #efb810; }
    100% { stroke: #efb810; }

    // 0% { stroke: #e8e8e8; }
    // 25% { stroke: #e8e8e8; }
    // 50% { stroke: #e8e8e8; }
    // 75% { stroke: #e8e8e8; }
    // 100% { stroke: #e8e8e8; }
}

@keyframes dash {
     0% { stroke-dashoffset: $offset; }
     50% {
       stroke-dashoffset: $offset/4;
       transform:rotate(135deg);
     }
     100% {
       stroke-dashoffset: $offset;
       transform:rotate(450deg);
     }
}
