.lapiz-izquierda {
  position: absolute;
  right: 0px;
  top: 25px;
}

.lapiz-izquierda div {
  display: inline;
}

.lapiz-margen {
  padding: 0px 5px;

}

// .lapiz-margen:hover{
//     cursor: pointer;
//     color: green;

// }
.eliminar:hover {
  cursor: pointer;
  color: red;
}

// .three{
//     -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.90) !important;

//  }

.custom-control-label {
  position: relative;
  top: -12px;
  left: 8px;
  /* margin-bottom: 0; */
}

.denegado {
  outline: 0;
  box-shadow: 0 0 0 0.5rem rgba(251, 0, 0, 0.4);
}

.aprobado {
  outline: 0;
  box-shadow: 0 0 0 0.6rem rgba(21, 165, 0, 0.4);
}

.deshablitado {
  outline: 0;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.90);
}

.corte {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.espacio {
  min-height: 60px !important;
  max-height: 60px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-left: 0px;
}

.modal-galeria {
  min-width: 60px !important;
  min-height: 60px !important;
  max-height: 60px !important;
}

.sombra-imag {
  width: 60px;
  //  border: 1px solid #000000;
  box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.btn-off {
  display: none;
}

.card-tam {
  // min-width: 8rem !important;
  // min-height: 500px !important;
  max-width: calc(100%) !important;
  // max-height: 500px !important;
  margin-bottom: 4rem;
}

.btn-fond {
  position: relative;
  display: flex;
  // top: 30px;
  top: -20px;
  justify-content: center;
  -ms-flex-pack: center;
}

.text-just {
  display: block;
  text-align: justify; 
  padding-left: 10px;
  margin-bottom: 0.5rem !important
}

.text-just:first-letter {
  text-transform: uppercase;
}

.cont {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.ajustar-card {
  max-height: calc(100%) !important;
  padding-right: 0px !important;
  padding-left: 15px !important;
}
