<page-loader></page-loader>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header text-center"
              style="font-family: 'Nunito', sans-serif;">
          <h4><strong>Metodología de gestión Showcases</strong></h4>
        </div>
        <div class="card-body">
          <form [formGroup]="myFormGroup" novalidate>
            <div  class="row p-2">
              <div class="col-md-12" formArrayName="headers">               
                <div *ngFor="let header of myFormGroup.get('headers')['controls']; let i = index;"     
                     [formGroupName]="i">
                    <div class="card" style="margin-bottom: 1rem;">
                      <button class="accordion" id="{{ header.get('fase_id').value }}" 
                               
                              (click)="toggleAccordian($event, i)">
                        {{header.get('name').value}}
                      </button>
                        <div class="panel"  hide="!header.isActive">
                            <button class="new"
                                    tooltip="Añadir fila"                                    
                                    (click)="addNewRow($event, i, header.controls.body)">
                            </button>
                            <table formArrayName="body"  class="table table-responsive-sm mb-0">
                              <thead class="thead-light" >
                                <tr>
                                  <th class="text-center" *ngFor="let list of listBody[i]">
                                    {{list.name}}
                                  </th>                                    
                                  <th class="text-center">
                                   Acción 
                                  </th>  
                                </tr>
                              </thead> 
                              <tbody  *ngFor="let body of myFormGroup.get('headers')?.at(i).get('body')['controls']; index as j;"  [formGroupName]="j"> 
                                <tr *ngFor="let rows of body['controls']; let l = index;">
                                 <td class="form-group" style="padding: 0.4rem 0.2rem 0rem 0rem !important;" 
                                      *ngFor="let data of rows?.get('row')['controls']">   
                                  <textarea type="text"
                                  style="padding: 0.3rem 0.3rem !important;" 
                                            rows="2"   
                                            [formControl]="data.get('name')"
                                            class="form-control">                                    
                                  </textarea>    
                                  </td>  
                                  <td class="text-center">
                                    <div  class="btn-group" 
                                          role="group" 
                                          aria-label="Basic example">
                                      <a  class="iconAction" 
                                          *ngIf="rows.get('row')?.value[0].name !== ''"
                                          style="color: #d0a10d;"     
                                          tooltip="Guardar"
                                          (click)="saveRow(body, l, header.get('fase_id').value)">
                                        <i class="fa fa-save">                     
                                        </i> 
                                        <span class="text-hidden">                
                                        </span>
                                      </a>                                        
                                      <label for="Entregables" 
                                             *ngIf="rows.get('row')?.value[3]"
                                             tooltip="Subir archivo(s)"
                                             style="margin-bottom: 0; margin-left: 1rem;">
                                        <i class="fa fa-cloud-upload btnAction"      
                                           style="color: #d0a10d;"    
                                           (click)="addDataOfRow(i, l)"                 
                                           aria-hidden="true">
                                        </i>   
                                      </label>  
                                      <input type="file"
                                             id="Entregables" 
                                             (change)="onFileChange($event.target.files)"
                                             accept="application/pdf,application/video/mp4,video/x-m4v,video/*,application/image/x-png,image/gif,image/jpeg,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword" multiple>

                                      <a class ="iconAction"                                        
                                         style="color: #d0a10d;"
                                         (click)="deleteRow(body, l, header.get('fase_id').value)"
                                         tooltip="Eliminar">
                                        <i class="fa fa-trash">
                                        </i>
                                        <span class="text-hidden">
                                        </span>                                          
                                      </a>
                                    </div>
                                  </td>                                              
                                </tr>
                              </tbody>
                            </table> 
                        </div>
                    </div>           
                </div>  
              </div>
            </div>
            <div class="row" style="justify-content: center;">
              <div class="col-md-6" style="text-align: center; margin: 1rem;">
                 <button type="button"  
                         (click)="generateUrl()" class="btn btn-success">
                    <i class="fa fa-link"></i>
                    <span class="text-hidden"> Generar Enlace</span>
                  </button>              
              </div> 
            </div>
            <div class="row" style="justify-content: center;">           
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <input formControlName="url"
                         disabled type="text" 
                         class="form-control" 
                         aria-label="Recipient's username"
                         aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button (click)="copiarEnlace()" 
                            class="btn btn-outline-showcase"
                             id="button-addon2"
                             type="button">
                      <i class="fa fa-clone" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>         
        </div>  
      </div>
    </div>
  </div>
</div>