.app-body {
    background-image: url("../../../assets/img/fondo/562.jpg");   
    // height: 100%;
    // overflow: hidden;
    margin-top: 0px !important;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    
}

.body-content {
    display: flex;
    justify-content: center;
    align-items: center;
}