.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f0f3f505;
    border-top: 0px solid #c8ced3;
}

.navbar-nav {
    display: flex !important;
    flex-direction: row !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    height: 120px !important;
}

.bg-light {
    background-color: #f0f3f500 !important;
}

.navbar-brand {
    display: inline-block !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-right: 0 !important;
    font-size: 0 !important;
    line-height: inherit;
    white-space: nowrap;
    margin-left: 0px !important;
    width: 55px !important;
}

.ajustar-card {
    min-height: 60px !important;
    // max-height: 60px !important;
    padding-right: 0px !important;
    padding-left: 15px !important;
  }

  .card-tam {
    border-radius: 0.2rem;
    min-width: 8rem !important;
    min-height: 430px !important;
    max-width: 17rem !important;
    max-height: 430px !important; 
  }
  .btn-fond {
    position: relative;
    display: flex;
    // top: 30px;
    top: -20px;
    justify-content: center;
    -ms-flex-pack: center;
  }

.corte {
    text-overflow:ellipsis;
    white-space:nowrap; 
    overflow:hidden; 
  }

  .three {
    -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.90);
 
 }

 .form-control:focus {
    color: #5c6873;
    background-color: #fff;
    border-color: #f3b80c;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(243, 184, 12, 0.28);
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(243, 184, 12, 0.28);
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #000000;
    background-color: #55555530;
    background-clip: padding-box;
    border: 1px solid #55555580;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-just {
    display: block;
  }

.text-just:first-letter {
    text-transform: uppercase;
}

.cont {
    padding-right: 15px !important;
    padding-left: 15px !important;
}


@media (max-width: 991.98px) {
    .container {
justify-content: center;
    }
}


@media (max-width: 991.98px) {
    .navbar-brand {
        display: none !important;
    }
}

.alert-dark {
    color: #000000;
    background-color: #eeeeeed9;
    border-color: #f3b80c;
    display: flex;
    justify-content: center;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #f3b80c;
    border-radius: .25rem;
    width: calc(70%);
}

.text-company {
    position: relative;
    left: calc(4%);
    text-align: center;
}

@media (max-width: 991.98px) {
    .text-company {
        display: none;
    }
}

.title {
    display: none;
}

@media (max-width: 991.98px) {
    .title {
        display: -webkit-box;
    }
}

.card-header {
    background-color: #222222;
    color: #fff;
    margin-bottom: 0;
    // border-bottom: 0px solid #f3b80c;
    text-align: center;
    padding: 20px 20px 10px !important;
}

.card-color {
    background-color: #eeeeee00 !important;
    background-clip: border-box;
    // border: 1px solid #f3b80c !important;
    width: calc(91%);
    height: calc(100%) !important;
}

.conf-r {
    margin-right: -2px; 
    margin-left: 0px; 
    height: auto !important; 
    font-size: 15px;
    margin-top: 50px !important;
}

// .ico-tam {
//     font-size: 35px;
//     left: 25px;
//     max-width: 60%;
//     position: relative;
//     top: -6px;
//     max-height: 60%;
// }

.btn-warning {
    color: #23282c;
    background-color: #f3b80c;
    border-color: #f3b80c;
}


.was-validated .form-control:valid, .form-control.is-valid {
    border-color: #4dbd74;
    padding-right: 2.0625rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.0625rem / 4);
    background-size: calc(2.0625rem / 2) calc(2.0625rem / 2);
    background-image: none;
    // background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8… 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e); 
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: #f86c6b;
    padding-right: 2.0625rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.0625rem / 4);
    background-size: calc(2.0625rem / 2) calc(2.0625rem / 2);
    background-image: none;
    // background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f86c6…%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E);
}



.modal-galeria {
    min-width: 60px !important;
    min-height: 60px !important;
    max-height: 60px !important;
}

.ico-tam {
    font-size: calc(50px);  
    // max-width: 60%;
    position: relative;
    top: 0px;
    // max-height: 60%;
}

.carousel {
    min-width: calc(100%) !important;
    min-height: calc(50vh) !important;
}