<page-loader></page-loader>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div *ngIf="!updateUser" class="card-header text-center" style="font-family: 'Nunito', sans-serif;">
            <h4><strong>Registrar Usuarios</strong></h4>  
        </div>
        <div *ngIf="updateUser" class="card-header text-center" style="font-family: 'Nunito', sans-serif;">
            <h4><strong>Detalles Usuarios</strong></h4>  
        </div>
        <div class="card-body">

          <form [formGroup]="registerForm" 
                (ngSubmit)="onSubmit()" 
                class="form-horizontal was-validated"
                autocomplete="off">
            <div class="row">

              <div class="col-md-12 d-flex">
                <button *ngIf="updateUser && !editUser" class="btn btn-success ml-auto" (click)="edit()" float-right>
                  <i class="icon-pencil"></i> Editar </button>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <label class="form-col-form-label "><strong>Datos Personales</strong></label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 offset-md-2 distancia">
                <label class="control-label col-md-12 col-md-4 col-xs-12" style="position: relative; right: 0.6rem;">Nombre</label>
                <input maxlength=60  [(ngModel)]="user.name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && validate.name.errors}"
                  type="text" class="form-control" placeholder="Nombre *" required>
                <div *ngIf="submitted && validate.name.errors" class="invalid-feedback">
                  <div *ngIf="validate.name.errors.required">El nombre es requerido</div>
                </div>  
              </div>

              <div class="col-md-4">
                <label class="control-label col-md-12 col-md-4 col-xs-12" style="position: relative; right: 0.6rem;">Apellido</label>
                <input maxlength=60 [(ngModel)]="user.last_name" formControlName="last_name" [ngClass]="{ 'is-invalid': submitted && validate.last_name.errors }"
                  type="text" class="form-control" placeholder="Apellido *" required>
                <div *ngIf="submitted && validate.last_name.errors" class="invalid-feedback">
                  <div *ngIf="validate.last_name.errors.required">El apellido es requerido</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 offset-md-2 distancia">
                <label class="control-label col-md-12 col-md-4 col-xs-12"  style="position: relative; right: 0.6rem;">Correo</label>
                <input maxlength=60  [(ngModel)]="user.email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && validate.email.errors }"
                  type="text" class="form-control" placeholder="Correo *" required>
                <div *ngIf="submitted && validate.email.errors" class="invalid-feedback">
                  <div *ngIf="validate.email.errors.required">El correo es requerido</div>
                  <div *ngIf="validate.email.errors.email">El correo no es valido</div>
                </div>
              </div>

              <div class="col-md-4 distancia">
                <label class="control-label col-md-12 col-md-4 col-xs-12" style="position: relative; right: 0.6rem;">Teléfono</label>
                <input [(ngModel)]="user.phone" maxLenth=20 formControlName="phone" [ngClass]="{ 'is-invalid': submitted && validate.phone.errors }"
                    type="text" class="form-control" placeholder="Teléfono *" required>
                <div *ngIf="submitted && validate.phone.errors" class="invalid-feedback">
                  <div *ngIf="validate.phone.errors.required">El teléfono es requerido</div>
                  <div *ngIf="validate.phone.errors.minlength">Se requiere un minimo de 11 caracteres</div>
                </div>
                  <!-- <div *ngIf="validate.phone.errors.maxlength">Se requiere un maximo de 60 caracteres</div> -->
                <!-- <div *ngIf=email.getError('emailDuplicate')>Este Email esta siendo utilizado por otro usuario </div> -->
              </div>            
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <label class="form-col-form-label" for="inputError2" style="position: relative; top: 10px;">
                  <strong>Datos de la cuenta</strong></label>
              </div>
            </div>

            <div class=" row">
              <div class="col-md-4 offset-md-2 distancia">
                <label class="control-label col-md-12 col-md-4 col-xs-12" style="position: relative; right: 0.6rem;">Usuario</label>
                <input maxlength="60" [(ngModel)]="user.username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && validate.username.errors }"
                  type="text" class="form-control" placeholder="Usuario *" required>
                <div *ngIf="submitted && validate.username.errors" class="invalid-feedback">
                  <div *ngIf="validate.username.errors.required">El usuario es requerido</div>
                </div>
              </div>

              <div class="col-md-3 offset-md-1 text-center" 
                   *ngIf="updateUser && editUser"
                   style="display: inline-block; line-height: 90px;">
                 <button  class="btn btn-success"  
                          (click)="changePassEdit()">
                    <i class="icon-pencil"></i> 
                    Cambiar clave
                </button>
              </div>
            </div>


            <div class="row" *ngIf="changePass">
              <div class="col-md-4 offset-md-2 distancia">
                <label class="control-label col-md-12 col-md-4 col-xs-12" style="position: relative; right: 0.6rem;">Clave</label>
                <input  maxlength="60"  [(ngModel)]="user.password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && validate.password.errors }"
                  type="password" class="form-control" placeholder="Clave *" required>
                <div *ngIf="submitted && validate.password.errors" class="invalid-feedback">
                  <div *ngIf="validate.password.errors.required">La clave es requerida</div>
                </div>
              </div>

              <div class="col-md-4 distancia">
                <label class="control-label col-md-12 col-md-4 col-xs-12" style="position: relative; right: 0.6rem;">Confirmación
                  de clave</label>
                <input maxlength="60"  [(ngModel)]="user.confpassword" formControlName="confpassword" [ngClass]="{ 'is-invalid': submitted && validate.confpassword.errors }"
                  type="password" class="form-control" placeholder="Confirmación de clave *" required>
                <div *ngIf="submitted && validate.confpassword.errors" class="invalid-feedback">
                  <div *ngIf="validate.confpassword.errors.required">La clave es requerida</div>
                  <div *ngIf="cpwd.hasError('invalid')">Las claves no coinciden</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center" style="margin: 50px 0px 10px 0px;">
                <button *ngIf="!updateUser" class="btn btn-success" (click)="save(user)" style="position: relative; right: 2rem;">
                  <i class="fa fa-save"></i> Guardar </button>
                <button *ngIf="updateUser && editUser" class="btn btn-success" (click)="update(user)" style="position: relative; right: 2rem;">
                  <i class="fa fa-save"></i> Actualizar </button>
                <button class="btn btn-danger" (click)="cancelar()" style="position: relative; left: 2rem;"><i class="fa fa-times"></i>
                  Cancelar</button>
              </div>
            </div>
            
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
